
.container_map {
	padding: 0 50px 70px;
}

#map {
	height: 400px;
	width: 100%;
	background: red;
  }
.textcenter {
	text-align: center;
}
.section1 {
	text-align: center;
	display: table;
	width: 100%;
}

.section1 .shtext {
	display: block;
	margin-top: 20px;
}
.section1 .seperator {
	border-bottom:1px solid #a2a2a2;
	width: 35px;
	display: inline-block;
	margin: 20px;
}
.section1 h1 {
	font-size: 40px;
	color: #A44DD8;
	font-weight: normal;
}
/*------------section2--------------*/
.section2 {
	width: 50%;
}

.form_contact{
	display: flex;
	justify-content: center;

}
.section3 {
    width: 40%;
	/* display: flex; */
}
.section3 .address {
	padding: 0 30px;

}
.section3 span.collig {
	color: #a2a2a2;
	display: inline-block;
}
.address p {
	margin: 1px;
}
.address p:first-child {
	margin-bottom: 10px;
}
.innercont {
	display: block;
	line-height: 26px;
}
.sectiontitle {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0 30px;
	color: #A44DD8;
}
.br {
	background: rgb(219, 211, 205);
	width: 50%;
	height: 1px;
	margin: 25px;
}

.email, .nombre {
	width: 80%;
    font-size: 14px;
	padding: 2%;
    border: 0;
    background: #EDEDED;
    margin: 5px;
	padding: 10px;
    text-transform: uppercase;
	color: rgb(65, 63, 63);
    cursor: pointer;
}

.textarea {
	width: 82%;
	background: #EDEDED;
	color: #666;
    font-size: 14px;
    text-transform: uppercase;
	color: rgb(65, 63, 63);
    cursor: pointer;
}
.btn_submit {
	padding: 10px;
	width: 60%;
	color: #fff;
	border: 0;
	background: #A44DD8;
	font-size: 16px;
	text-transform: uppercase;
	cursor: pointer;
}
.sectionForm {
	
	margin: 5px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

@media only screen and (max-width: 960px) {
	.form_contact {
		display: flex;
		flex-direction: column;
		
	}
}
